// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {float: right;}
#form_div {width: 300px;}
.inner_div {margin-bottom: 20px;}
input.add_product_button {float: none;}
.prod_div {width: 300px; float: left;}